.accordion {
  background-color: $backgroundAccordion;
  width: 100%;
  transition: 0.4s;
  padding-bottom: 100px;
  position: relative;


  &__content-wrap {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }

  &__img-top-left {
    position: absolute;
    top: 50px;
    left: 0;
    display: none;
    @include lg {
      display: block;
      left: 85px;
    }
  }

  &__img-top-right {
    position: absolute;
    top: 50px;
    right: 0;
    display: none;
    @include lg {
      display: block;
      left: 120px;
    }
  }

  &__img-top-bottom {
    position: absolute;
    bottom: 100px;
    right: 0;
    @media (max-width: 1301px) {
      display: none;
    }
  }

  &__title {
    color: $accordionTitle;
    font-size: 25px;
    font-weight: bold;
    @include lg {
      font-size: 35px;
    }
  }

  &__item {
    width: 100%;
    padding-right: 15px;
  }

  &__title-text {
    min-height: 75px;
    padding: 25px 35px 25px 0;
    margin: 0;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    color: $accordionTitleText;
    position: relative;
    @include lg {
      font-size: 30px;
    }

    &:focus {
      background-color: $accordionTitleTextFocus;
      border-radius: 2px;
    }


    &::after , &::before {
         content:' ';
        right:0;
        transition:0.3s;
        font-size: 0;
        position: absolute;
        width: 33px;
        height: 0px;
        top:calc(50% - 1px); 
        border-top: 2px solid #FDFAF3; 
    }
    &::before { 
        transform: rotate(-90deg); 
    } 
    .is-open &::before { 
      transform: rotate(0deg);  
    }
    .is-open &::after { 
      transform: rotate(180deg);  
    }
  }

  &__body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s cubic-bezier(0.22, 0.61, 0.36, 1);
    border-bottom: 1px solid #C4C4C4;
    @include lg{
      border-bottom: 1px solid transparent;
    }
  }

  &__content {
    max-width: 90%;
  }

  &__text {
    color: $accordionTextContent;
    font-size: 18px;
    @include lg {
      font-size: 20px;
    }
  }

  &__light {
    margin: 0;
    background-color: var(--backgroundAccordionLight);

    .accordion__content-wrap {
      align-items: initial;
      @include lg {
        border-top: 2px solid #172A2E;
      }
    }

    .accordion__body {
      border-bottom: 2px solid #172A2E;
    }

    .accordion__title {
      text-align: center;
    }

    .accordion__title, .accordion__title-text, .accordion__text {
      color: var(--backgroundAccordionLightText);
    }

    .accordion__text {
      font-size: 18px;
      margin-bottom: 30px;
    }

    .accordion__title-text {
      padding-right: 50px;

      &:focus {
        background-color: transparent;
        border-radius: 2px;
      }

      &::after , &::before{
        border-top: 2px solid #182A2D;
        
      }
    }
 
  }
}