.accessories-category {
  position: relative;
  background-color: $backgroundAccessories;

  .swiper-accessories {
    .swiper-wrapper {
      height: auto;
      @include lg {
        .swiper-slide {
          width: 30%;
        }
      }
    }
  }
  @include lg {
    .swiper-accessories.swiper-container {
      width: 100%;
      padding: 0 40px;
    }
  }
  @include lg {
      .swiper-accessories .swiper-wrapper .swiper-slide {

      }
  }

  .swiper-accessories {
    margin: 0 -20px;
  }

  .swiper-button-prev-accessories,
  .swiper-button-next-accessories {
    color: $ShopAccessoriesArrows;
    display: none;

    @media (min-width: 700px) {
      display: block;
    }
    @include lg {
      display: none;
    }
  }

  .swiper-button-next, .swiper-button-prev {
    top: 58%;
  }

  &__content {
    padding-top: 95px;
    display: flex;
    flex-direction: column;
    padding-bottom: 90px;
  }

  &__title {
    font-weight: bold;
    font-size: 30px;
    line-height: 100%;
    color: $ShopAccessoriesTitle;
    text-transform: uppercase;
    padding-bottom: 40px;
    text-align: center;
    @include lg {
      font-size: 35px;
    }
  }

  &__card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    @include lg {
      padding-bottom: 70px;
    }
  }

  &__cards-box {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    @include lg {
      justify-content: space-around;
    }
  }

  &__btn {
    background-color: $ShopAccessoriesBtn;
    color: $ShopAccessoriesBtnText;
    transition: all .5s ease;

    &:hover {
      box-shadow: $ShopAccessoriesArrows;
    }
  }

  &__name {
    color: $ShopAccessoriesText;
  }


  &__img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
  }

  &__bg-img {
    svg {
      fill: $ShopAccessoriesArrows;
    }
  }

  &__img {
    position: absolute;
    z-index: 2;
    top: 0;
    height: 350px;
    @include lg {
      top: inherit;
    }

    img {
      object-fit: contain;
    }
  }

  &__name {
    padding: 10px;
    margin: 0;
    font-weight: bold;
    font-size: 30px;
    line-height: 100%;
    color: $ShopAccessoriesText;
  }

  &__btn {
    background-color: $ShopAccessoriesBtn;
    color: $ShopAccessoriesBtnText;
    font-weight: bold;
    font-size: 15px;
    line-height: 100%;
    padding: 15px 30px;
    border-radius: 5px;
    border: none;
    transition: all .5s ease;

    &:hover {
      box-shadow: $ShopAccessoriesShadowFocus;
    }
  }
}