.accordion {
  background-color: $backgroundAccordion;
  width: 100%;
  transition: 0.4s;
  padding-bottom: 100px;
  margin-top: 130px;
  position: relative;


  &__content-wrap {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }

  &__img-top-left {
    position: absolute;
    top: 50px;
    left: 0;
    display: none;
    @include lg {
      display: block;
      left: 85px;
    }
  }

  &__img-top-right {
    position: absolute;
    top: 50px;
    right: 0;
    display: none;
    @include lg {
      display: block;
      left: 120px;
    }
  }

  &__img-top-bottom {
    position: absolute;
    bottom: 100px;
    right: 0;
    @media (max-width: 1301px) {
      display: none;
    }
  }

  &__title {
    color: $accordionTitle;
    font-size: 25px;
    font-weight: bold;
    @include lg {
      font-size: 35px;
    }
  }

  &__item {
    width: 100%;
    padding-right: 15px;
  }

  &__title-text {
    min-height: 75px;
    padding: 25px 35px 25px 0;
    margin: 0;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    color: $accordionTitleText;
    position: relative;
    @include lg {
      font-size: 30px;
    }

    &:focus {
      background-color: $accordionTitleTextFocus;
      border-radius: 2px;
    }


    &::after {
      transition: all 500s;
      content: url('../images/icons/plus.svg');
      font-size: 48px;
      font-weight: 200;
      position: absolute;
      right: 0px;
      top: -15px;
      padding: 25px 5px;
    }

    .is-open &::after {
      transition: all 500s;
      content: url('../images/icons/minus.svg');
      position: absolute;
      right: 0px;
      top: -25px;
    }
  }

  &__body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s cubic-bezier(0.22, 0.61, 0.36, 1);
    border-bottom: 1px solid #C4C4C4;
  }

  &__content {
    max-width: 90%;
  }

  &__text {
    color: $accordionTextContent;
    font-size: 18px;
    @include lg {
      font-size: 20px;
    }
  }

  &__light {
    margin: 0;
    background-color: var(--backgroundAccordionLight);

    .accordion__content-wrap {
      align-items: initial;
      @include lg {
        border-top: 2px solid #172A2E;
      }
    }

    .accordion__body {
      border-bottom: 2px solid #172A2E;
    }

    .accordion__title {
      text-align: center;
    }

    .accordion__title, .accordion__title-text, .accordion__text {
      color: var(--backgroundAccordionLightText);
    }

    .accordion__text {
      font-size: 18px;
      margin-bottom: 30px;
    }

    .accordion__title-text {
      padding-right: 50px;

      &:focus {
        background-color: transparent;
        border-radius: 2px;
      }

      &::after {
        content: url('../images/icons/plus-dark.svg');
      }
    }

    .is-open .accordion__title-text::after {
      content: url('../images/icons/minus-dark.svg');
    }
  }
}