// --------------header--------------
$headerBackgroundColor: var(--headerBackgroundColor, white);
$headerBackgroundColorOpenMenu: var(--headerBackgroundColorOpenMenu, black);
$headerTextColorOpenMenu: var(--headerTextColorOpenMenu, white);
$headerLinkDecarationColor: var(--headerLinkDecarationColor, black);
$headerShadowFocus: var(--headerShadowFocus, rgba(0, 0, 0, 0.5));
$headerBtnColor: var(--headerBtnColor, white);
$headerBtnBg: var(--headerBtnBg, black);

//_________________Hero______________________
// background
$backgroundHero: var(--backgroundHero, black);
//text-color
$heroText: var(--heroText, white);
//btn
$btnShop: var(--btnShop, white);
$btnShopText: var(--btnShopText, white);
$heroShadowFocus: var(--heroShadowFocus, white);
//_______________________________________________

//______________Shop Cannabis by category_______________________________________
// background
$backgroundShopCannabis: var(--backgroundShopCannabis, orange);
// $backgroundCannabis: #EAE1CD;
//text-color
$ShopCannabisTitle: var(--ShopCannabisTitle, white);
$ShopCannabisText: var(--ShopCannabisText, black);
//btn
$ShopCannabisBtn: var(--ShopCannabisBtn, white);
$ShopCannabisBtnText: var(--ShopCannabisBtnText, black);
$ShopCannabisShadowFocus: var(--ShopCannabisShadowFocus, black);
//arrows
$ShopCannabisArrows:var(--ShopCannabisArrows, black);
//________________________________________________________________________________

//________________Shop Accessories by category____________________________________
// background
$backgroundAccessories: var(--backgroundAccessories, black);
//text-color
$ShopAccessoriesTitle: var(--ShopAccessoriesTitle, white);
$ShopAccessoriesText: var(--ShopAccessoriesText, white);
//btn
$ShopAccessoriesBtn: var(--ShopAccessoriesBtn, white);
$ShopAccessoriesBtnText: var(--ShopAccessoriesBtnText, black);
$ShopAccessoriesShadowFocus: var(--ShopAccessoriesShadowFocus, black);
//arrows
$ShopAccessoriesArrows:var(--ShopAccessoriesArrows, white);
//________________________________________________________________________________

//_______________Location_________________________________________________________
// background
$backgroundLocation: var(--backgroundLocation, white);
$backgroundLocationCards:  var(--backgroundLocationCards, white);
//text-color
$locationText: var(--locationText, black);
//btn
$locationBtnBg: var(--locationBtnBg, black);
$locationBtnText:var(--locationBtnText, white);
$locationShadowFocus: var(--locationShadowFocus, black);
//__________________________________________________________________________________

//______________Wholesale Portal___________________________________________________
// background
$backgroundWholesale: var(--backgroundWholesale, black);
//text-color
$wholesaleText: var(--wholesaleText, white);
//btn
$wholesaleBtnBg: var(--wholesaleBtnBg, white);
$wholesaleBtnText: var(--wholesaleBtnText, black);
$wholesaleShadowFocus: var(--wholesaleShadowFocus, white);
//___________________________________________________________________________________

//______________accordion_FAQ’s______________________________________________________
// background
$backgroundAccordion:var(--backgroundAccordion, black) ;
//text-color
$accordionTitle:var(--accordionTitle, white);
$accordionTitleText:var(--accordionTitleText, white);
$accordionTextContent:var(--accordionTextContent, white);
$accordionTitleTextFocus:var(--accordionTitleTextFocus, black);
//____________________________________________________________________________________


//color white
$clr-light: var(--clr-light, white);
//text-color
$clr-text-main: var(--clr-text-main, black);
$clr-text-accent: var(--clr-text-accent, orange);
//font-base
$font-base: var(--font-base, 18px);

//grid blog backgrounds
$blogColorBg1: var(--blogColorBg1, gray);
$blogColorBg2: var(--blogColorBg2, white);

//footer bg
$footerColorBg1: var(--footerColorBg1, black);
$footerColorBg2: var(--footerColorBg2, orange);
$footerFormShadowFocus: var(--footerFormShadowFocus, rgba(0, 0, 0, 0.5));

// blog article page
$blogPageHeroTitleColor: var(--blogPageHeroTitleColor, white);
$blogPageHeroBtnColor: var(--blogPageHeroBtnColor, black);
$blogPageHeroBtnBg: var(--blogPageHeroBtnBg, white);
$blogPageHeroBtnShadow: var(--blogPageHeroBtnShadow, rgba(255, 255, 255, 0.5));
$blogPageContentTextColor: var(--blogPageContentTextColor, black);
$blogPageContentBtnColor: var(--blogPageContentBtnColor, white);
$blogPageContentBtnBg: var(--blogPageContentBtnBg, black);
$blogPageContentBtnShadow: var(--blogPageContentBtnShadow, rgba(0, 0, 0, 0.5));

$fontFamily: var(--fontFamily, sans-serif);

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
@mixin sm {
  @media (min-width: $sm) {
    @content
  }
}

;
@mixin md {
  @media (min-width: $md) {
    @content
  }
}

;
@mixin lg {
  @media (min-width: $lg) {
    @content
  }
}

;
@mixin xl {
  @media (min-width: $xl) {
    @content
  }
}

;
@mixin xxl {
  @media (min-width: $xxl) {
    @content
  }
}

;

body {
  // for popup noscroll 
  background-color: $headerBackgroundColor;
}

// footer to bottom
.body, html {
  height: 100%;
  min-height: 100vh;
}

.header, footer {
  flex-grow: 0;
}

.main {
  flex-grow: 1;
}

.main-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 0;
  position: relative;
  background-color: $headerBackgroundColor;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: $fontFamily;
  font-size: $font-base;
  color: $clr-text-main;
}

a {
  text-decoration: none;
  color: inherit;
}


figure {
  margin: 0;
  padding: 0;
  font-size: 0;
}

img {
  max-width: 100%;
  height: 100%;
  display: block;
}

.wave {
  margin-bottom: -10px;
  background-position-y: 40px;
  background-size: 50% 100%;
  background-repeat: repeat-x;
  position: absolute;
  width: 100%;
  line-height: 0;
  height: 115px;
  @include sm {
    background-size: 35% 125%;
  }
  @include lg {
    background-size: 35% 160%;
    background-position-y: 5px;
  }
  @include xxl {
    background-size: contain;
    background-position-y: 5px;
  }
}

