//_____Hero____

// background
$backgroundHero:#172A2E;
//text-color
$heroText:#EAE1CD;
//btn
$btnShop:#EAE1CD;
//grid blog backgrounds
$clr-bg-1: #EDE5D1;
$clr-bg-2: #FDFAF3;

//color white
$clr-light: #ffffff;

//footer bg 
$clr-footer-1: #182A2D;
$clr-footer-2: #D7A461;
$clr-shadow-l: rgba(255, 255, 255, 0.5);
$clr-shadow-d: rgba(0, 0, 0, 0.5);


//text-color
$clr-text-main: #333333;
$clr-text-accent: #D7A461;

//font-base
$font-base: 18px;

$logowidth:1px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px; 
@mixin sm {
  @media (min-width:$sm) {
    @content
  }
}; 
@mixin md {
  @media (min-width:$md) {
    @content
  }
}; 
@mixin lg {
  @media (min-width:$lg) {
    @content
  }
}; 
@mixin xl {
  @media (min-width:$xl) {
    @content
  }
}; 
@mixin xxl {
  @media (min-width:$xxl) {
    @content
  }
};
  
body{
  background-color: rgb(199, 199, 199);
  // for popup noscroll 
}

// footer to bottom
.body , html{
height: 100%; 
min-height: 100vh;
}
.header , footer {
  flex-grow: 0;
}
.main{
  flex-grow: 1;
}

.main-wrapper{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 0;
  position: relative;
  background-color: #fff;
  overflow: hidden;
 
}

* {
  box-sizing: border-box;
}

html , body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: $font-base;
  color: $clr-text-main;
}


a{
  text-decoration: none;
  color: inherit;
}
 

h1,h2,h3,h4{
  text-align: center;
  line-height: 1.5;
}

figure{
  margin: 0;
  padding: 0;
  font-size: 0;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}