.blog-article {
  margin-top: 40px;
  margin-bottom: 60px;
  position: relative;

  @include md {
    margin-bottom: 120px;
  }

  &__container {
    max-width: 900px;
    margin: 0 auto;
  }

  &__button {
    display: flex;
    justify-content: center;

    a {
      padding: 12px 35px;
      border-radius: 5px;
      display: flex;
      align-items: center;
      transition: .3s;

      svg {
        transition: .3s
      }
    }
  }

  &__hero {
    margin-bottom: 40px;
    padding: 90px 0 160px;
    position: relative;
    z-index: 1;

    @include lg {
      margin-bottom: 60px;
    }

    &-title {
      text-align: center;
      z-index: 2;
      color: $blogPageHeroTitleColor;

      time {
        font-weight: 400;
      }

      h1 {
        @include md {
          font-size: 3rem;
        }

        @include lg {
          margin-top: 75px;
        }
      }
    }

    &-button {
      margin-top: 60px;

      a {
        padding: 20px 35px;
        font-size: 1.125rem;
        font-weight: 700;
        background-color: $blogPageHeroBtnBg;
        color: $blogPageHeroBtnColor;

        svg {
          margin-left: 15px;
          fill: $blogPageHeroBtnColor;
        }

        &:hover {
          box-shadow: 0 0 8px 2px $blogPageHeroBtnShadow;
        }
      }
    }

    figure {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;

      img {
        height: 100%;
        width: 100%;
        display: block;
        object-fit: cover;
      }

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: linear-gradient(180deg, #172A2E 0%, rgba(23, 42, 46, 0) 100%);
        z-index: 1;
      }
    }
  }

  &__content {
    color: $blogPageContentTextColor;

    h4 {
      font-size: 1.125rem;

      @include md {
        font-size: 1.5rem;
      }
    }

    figure {
      margin: 40px 0;
      width: 100%;
      max-height: 500px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;

      @include lg {
        margin: 60px 0;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  &__bottom-button {
    margin-top: 40px;
    margin-bottom: 20px;

    a {
      background-color: $blogPageContentBtnBg;
      color: $blogPageContentBtnColor;

      svg {
        margin-right: 10px;
        transform: rotate(90deg);

        path {
          stroke: $blogPageContentBtnColor;
        }
      }

      &:hover {
        box-shadow: 0 0 8px 2px $blogPageContentBtnShadow;

        svg {
          transform: rotate(90deg) translateY(3px);
        }
      }
    }
  }

  &__socials {

    @media (max-width: 1400px) {
      margin-top: 60px;
    }

    ul {
      padding-left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      list-style: none;

      p,
      li {
        margin: 10px 6px;
        text-transform: uppercase;

        @include sm {
          margin: 10px 15px;
        }
      }

      li {

        button {
          font-family: inherit;
          font-size: 1rem;
          font-weight: 700;
          display: block;
          text-decoration: underline;
          transition: .3s;
          border: none;
          background-color: transparent;
          padding: 0;
          text-transform: uppercase;
          cursor: pointer;
        }

        &:hover {
          button {
            transform: translateX(3px);
          }
        }
      }
    }

    &.absolute {
      position: absolute;

      ul {
        margin: 0;
        flex-direction: column;
        align-items: flex-start;

        p {
          font-size: .75rem;
        }
      }
    }
  }
}