.by-category {
  width: 100%;
  background-color: $backgroundShopCannabis;
  position: relative;
  z-index: 1;

  .swiper-button-prev,
  .swiper-button-next {
    display: none;
    color: $ShopCannabisArrows;
    @media (min-width: 700px) {
      display: block;
    }
    @include xl {
      display: none;
    }
  }

  .swiper-button-next, .swiper-button-prev {
    top: 28%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
  }

  &__title {
    font-weight: bold;
    font-size: 30px;
    line-height: 100%;
    color: $ShopCannabisTitle;
    text-transform: uppercase;
    padding-bottom: 40px;
    text-align: center;
    @include lg {
      font-size: 35px;
    }
  }

  &__card {
    width: auto;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    @include lg {
      padding-bottom: 5px;
      min-width: 250px;
    }
  }

  &__img-wrapper {
    position: relative;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
  }

  &__bg-img {
    svg {
      fill: $ShopCannabisTitle;
    }
  }

  &__img {
    position: absolute;
    z-index: 2;

    img {
      object-fit: cover;
    }
  }


  &__name {
    font-weight: bold;
    font-size: 30px;
    line-height: 100%;
    color: $ShopCannabisText;
  }

  &__btn {
    background-color: $ShopCannabisBtn;
    color: $ShopCannabisBtnText;
    font-weight: bold;
    font-size: 15px;
    line-height: 100%;
    padding: 15px 30px;
    border-radius: 5px;
    border: none;
    transition: all .5s ease;

    &:hover {
      box-shadow: $ShopCannabisShadowFocus;
    }
  }

}
