.dropdown {
	pointer-events: none;
	opacity: 0;
	 max-height: 0;
	 overflow: hidden;
	 transition: 0.4s;
	z-index: 6;
	@include lg { 
		position: absolute; 
		top: 50px;
		left: 0; 
		&:hover {
			pointer-events: all;
			opacity: 1;
			max-height: 600px;
		}
	}

	&__activator {
		cursor: pointer;
		z-index: 2;
		position: relative;

		@media (max-width: 991.98px) {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		&::after {
			@include lg {
				content: '';
				position: absolute;
				top: 0;
				bottom: -30px;
				left: 0;
				width: 100%;
			}
		}

		svg {
			font-size: 1rem;
			margin-left: 10px;
			transition: .3s;

			@include lg {
				margin-left: 5px;
				margin-bottom: 2px;
			}
			@include xxl {
				margin-left: 10px;
			}
		} 	 

		@include lg {
			&:hover {
				outline: none; 
				svg {
					transform: rotate(180deg);
				}

				+.dropdown {
					pointer-events: all;
					opacity: 1;
					max-height: 200px;
				}
			}
		}

		&.dropdown_open {
			@media (max-width:991px) { 
			svg {
				transform: rotate(180deg);
			}

			+.dropdown {
			 max-height: 100vh;
			 pointer-events: all;
			 opacity: 1;
			}
		}
		}

	}

	&__inner {
		list-style: none;
		padding-left: 0;
		text-align: center; 
		@include lg {
			border: solid 4px;
			border-color: $headerBackgroundColor;
			background-color:var(--mainColor );
			color:$headerBackgroundColor;
			text-align: left;
			padding: 20px 20px;
			min-width: 200px;
			box-sizing: border-box;
			box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
		}

		li {
			justify-content: flex-start;
		}
	}
}