.dropdown {
	display: none;

	@include lg {
		display: block;
		visibility: hidden;
		position: absolute;
		top: 25px;
		left: 0;

		&:hover {
			visibility: visible;
		}
	}

	&__activator {
		cursor: pointer;
		z-index: 2;

		svg {
			font-size: 1rem;
			margin-left: 10px;
			transition: .3s;

			@include lg {
				margin-left: 5px;
			}
			@include xxl {
				margin-left: 10px;
			}
		}

		&.on-mouse-over {
			svg {
				transform: rotate(180deg);
			}
		}

		@include lg {
			&:hover, &:focus {
				outline: none;

				svg {
					transform: rotate(180deg);
				}

				+.dropdown {
					visibility: visible;
				}
			}
		}

		&.dropdown_open {

			svg {
				transform: rotate(180deg);
			}

			+.dropdown {
				display: block;
			}
		}
	}

	&__inner {
		list-style: none;
		padding-left: 0;
		text-align: center;
		background-color: $headerBackgroundColor;

		@include lg {
			text-align: left;
			padding: 0 10px;
		}

		li {
			justify-content: flex-start;
		}
	}
}