.dropdown {
	display: none;

	@include md {
		display: block;
		visibility: hidden;
		position: absolute;
		top: 25px;
		left: 0;
		background-color: #fff;

		&:hover {
			visibility: visible;
		}
	}

	&__activator {

		@include md {
			&:hover {

				+.dropdown {
					visibility: visible;
				}
			}
		}

		&.dropdown_open {
			+.dropdown {
				display: block;
			}
		}
	}

	&__inner {
		list-style: none;
		padding-left: 0;
	}
}