@font-face {
    font-family: "Roboto";
    src: url("../fonts/RobotoRegular/RobotoRegular.eot");
    src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
    url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/RobotoBold/Roboto-Bold.eot');
    src: url('../fonts/RobotoBold/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/RobotoBold/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/RobotoBold/Roboto-Bold.woff') format('woff'),
        url('../fonts/RobotoBold/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

