.footer {

  @include md {
    background: $footerColorBg1;
    background: linear-gradient(90deg, $footerColorBg1 0%, $footerColorBg1 50%, $footerColorBg2 50%, $footerColorBg2 100%);
  }
  @include xxl {
    position: relative;
  }

  .container {
    padding: 0;
  }

  &__links {
    // order: 2;
    background-color: $footerColorBg1;
    color: $clr-light;

    @include md {
      // order: 1;
    }

    .footer-links {
      width: 80%;
      margin: 40px auto;

      ul {
        margin-top: 0;
        margin-bottom: 0;
        padding: 0;
        list-style: none;

        &:not(:last-of-type) {
          margin-right: 15px;
        }

        li {
          margin: 15px 0;

          a {
            position: relative;

            &::after {
              content: '';
              position: absolute;
              bottom: -3px;
              left: 0;
              width: 0;
              height: 2px;
              background-color: $clr-light;
              transition: .3s;
            }

            &:hover, &:focus {
              outline: none;
              &::after {
                width: 100%;
              }
            }
          }
        }
      }

      &__wrapper {
        display: flex;
        flex-direction: column;

        @include sm {
          flex-direction: row;
        }
      }

      &__nav {
        li a {font-weight: 700;}
      }

      &__contact {
        @include sm {
          margin-left: auto;
        }
      }

      &__socials {
        a {
          margin-right: 15px;

          svg {
            path {
              fill: $clr-light;
              transition: .3s;
            }
          }

          &:hover, &:focus {

            svg {
              path {
                fill: $clr-text-accent;
              }
            }
          }

          &::after {
            content: none !important;
          }
        }
      }

      &__copyright {
        margin-top: 50px;
        flex: 0 0 100%;
        text-align: left;
      }
    }
  }

  &__form {
    // order: 1;
    background-color: $footerColorBg2;

    @include md {
      // order: 2;
    }

    .footer-form {
      &__wrapper {
        width: 80%;
        margin: 75px auto 115px;

        @include md {
          margin: 40px auto;
        }

        p {
          text-align: center;
          opacity: .5;
          @include md {
            text-align: left;
          }
        }
      }

      &__title {
        margin: 20px 0;
        font-size: 1.5rem;
        font-weight: 700;
        text-align: center;

        @include md {
          text-align: left;
          font-size: 2rem;
        }
      }

      &__submit {
        margin-top: 30px;
        font-size: 0;
       
        input, button {
          border: 0;
          height: 45px;
          transition: .3s;
          vertical-align: bottom;

          &:focus {
            outline: transparent;
          }
        }

        input {
          width: 70%;
          padding: 0 10px;
          border-top-left-radius: 5px;
          border-top-right-radius: 0;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 0;

          @include xl {
            width: 340px;
          }

          &:focus::placeholder {
            color: transparent;
          }

          &:hover, &:focus, &:active {
            box-shadow: -2px 0px 8px 2px $footerFormShadowFocus ;
          }
        }

        button {
          width: 30%;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
          text-transform: uppercase;
          font-weight: 700;
          color: $clr-light;
          background-color: $footerColorBg1;
          cursor: pointer;

          @include xl {
            width: 180px;
          }

          &:hover, &:focus {
            box-shadow: 2px 0px 8px 2px $footerFormShadowFocus ;
          }
        }
      }
    }
  }

  &__bg-img {
    display: block;
    position: absolute;
    bottom: -175px;
    right: 0;

    @include md {
      bottom: -220px;
    }

    @include xxl {
      bottom: 0;
    }
  }
}