

.header{
background-color: rgb(253, 253, 253);    
    transition: 0.3s;
  box-shadow: 1px 1px 50px 1px  rgb(238, 238, 238) inset ;
    &-content{
        padding: 20px 0;
        display: flex;
        justify-content: space-between;
    align-items: center;
    }

    .logo{
        img{
            object-fit: contain;
            width: 50px;
        height: auto;
        }
        width: $logowidth;  
    }
}

.fixed-header{
position: fixed;
top:0;
left:0;
right: 0;
}
 