.header {
	background-color: $headerBackgroundColor;
	transition: 0.3s;
	z-index: 999;

	&-content {
		padding: 35px 0;
		display: flex;
		justify-content: space-between;
		align-items: center;

		@include lg {
			padding: 15px 0;
		}
	}
}

.fixed-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}