.hero {
  &--bg {
    background-color: $headerBackgroundColor;
  }

  &__wrapper {
    max-width: 1380px;
    width: 100%;
    background-color: $backgroundHero;
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  &__bg-image {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }

  &__images-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;

    img{
      height: auto;
    }

    @include lg {
      align-items: center;
    }
  }

  &__oval-top {
    position: absolute;
    top: 30px;
    width: 25px;
    left: 40px;

    @include lg {
      width: 100%;
      left: 100px;
      top: 115px;
    }
  }

  &__oval-centre {
    position: absolute;
    top: 60px;
    left: 80px;
    width: 20px;

    @include lg {
      width: 100%;
      top: 175px;
      left: 190px;
    }
  }

  &__oval-bottom {
    position: absolute;
    bottom: 100px;
    right: 40px;
    width: 20px;


    @include lg {
      width: 100%;
      bottom: 200px;
      right: 80px;
    }
  }


  &__oval-top-right {
    position: absolute;
    width: 30px;
    top: -35px;
    left: 70px;

    @include lg {
      width: 100%;
      left: 130px;
      top: -70px;
    }
  }

  &__oval-top-centre {
    position: absolute;
    width: 20px;
    top: -25px;
    left: 52px;

    @include lg {
      width: 100%;
      left: 175px;
      bottom: 345px;
    }
  }

  &__oval-top-bottom {
    position: absolute;
    top: 75px;
    left: 56px;

    @include lg {
      bottom: 120px;
      left: 200px;
      top: 145px;
    }
  }

  &__content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $heroText;
    z-index: 2;
    padding-top: 40px;
    padding-bottom: 200px;
    position: relative;
    margin: 0 auto;
    @include md {
      padding-bottom: 190px;
      padding-top: 100px;
      align-self: center;
    }
  }

  &__title {
    text-align: center;
    width: 100%;
    font-weight: bold;
    font-size: 36px;
    line-height: 100%;
    padding: 0 15px;

    @include md {
      font-size: 72px;
      min-width: 700px;
    }
  }

  &__text {
    padding: 0 15px;
    width: 100%;
    max-width: 425px;
    font-weight: normal;
    font-size: 16px;
    line-height: 120%;
    padding-bottom: 170px;
    text-align: center;

    @include md {
      padding-bottom: 60px;
      font-size: 18px;
    }
  }

  &__left-container {
    position: absolute;;
    top: 280px;
    left: 0;
    right: 0;

    @include lg {
      position: relative;
      width: 385px;
      height: 540px;
      align-items: flex-end;
      top: 0;
    }
  }

  &__img-left {
    width: 200px;
    position: absolute;
    @include lg {
      width: 385px;
      height: 540px;
    }
  }

  &__img-right {
    position: absolute;
    right: 0;
    width: 130px;
    @include lg {
      width: 330px;
      height: 540px;
      top: 70px;
      right: 0;
    }
  }

  &__right-container {
    position: absolute;;
    top: 380px;
    left: 0;
    right: 0;

    @include lg {
      position: relative;
      top: 0;
      width: 330px;
      height: 300px;
      align-items: flex-end;
    }
  }

  &__button {
    font-weight: bold;
    font-size: 16px;
    line-height: 100%;
    background-color: $btnShop;
    padding: 20px 30px;
    border: none;
    border-radius: 5px;
    transition: all .5s ease;
    color: $btnShopText;

    &:hover {
      box-shadow: $heroShadowFocus;
    }

    @include lg {
      font-size: 25px;
    }

    &:after {
      content: url('../images/hero/card.svg');
    }
  }

  img {
    height: auto;
  }
}
