.nav {
	@include lg {
		width: 100%;
	}

	&-menu {
		min-height: 100vh;
		max-height: 100vh;
		z-index: 5;
		top: 0; 
		position: fixed;
		left: 0;
		right: 0;
		text-align: center;
		transform: translateY(-100%);

		@media (max-width: 991.98px) {
			padding-bottom: 40px;
			overflow-y: auto;
		}

		@include lg {
			min-height: auto;
			display: flex;
			background-color: inherit;
			position: static;
			transform: none;
			background-color: $headerBackgroundColor;
		}

		&__wrap {
			list-style: none;
			padding-left: 0;

			@include lg {
				width: 40%;
				margin: 10px 0;
				padding-top: 0;
				position: relative;
				display: flex;
				align-items: center;
				flex-wrap: wrap;
			}

			li {
				padding: 10px 0;
				text-transform: uppercase;
				font-weight: 700;
				font-size: .75rem;

				@include lg {
					margin-right: 10px;
				}

				@include xxl {
					margin-right: 35px;
				}

				a {
					position: relative;

					&::after {
						content: '';
						position: absolute;
						bottom: -2px;
						left: 0;
						width: 0;
						height: 2px;
						transition: .3s;
						background-color: $headerLinkDecarationColor;
					}

					&:hover,
					&:focus {
						outline: none;

						&::after {
							width: 100%;
							transition: .3s;
						}
					}
				}
			}
		}

		&__logo {
			display: none;

			@include lg {
				position: static;
				flex-grow: 1;
				display: flex;
				justify-content: center;
				align-self: center;
				margin-bottom: 10px;
			}

			&:hover,
			&:focus {
				outline: none;
			}
		}

		&__socials {
			display: flex;
			justify-content: center;
			flex-direction: column;

			@media (max-width: 991.98px) {
				padding-bottom: 100px;
			}

			@include lg {
				width: 40%;
				justify-content: flex-end;
				flex-direction: row;
			}

			.head-socials {
				margin: 20px 0;

				@include lg {
					margin: 10px 0;
					display: inherit;
					align-items: center;
				}

				&__links {
					a {
						@include lg {
							height: 19px;
							margin-right: 20px;
						}

						svg {
							transition: .2s;
						}

						&:hover,
						&:focus {
							outline: none;

							svg {
								transform: scale(1.1);
							}
						}
					}
				}

				&__menu {
					a {
						padding: 12px 36px;
						text-transform: uppercase;
						font-size: 0.875rem;
						font-weight: 700;
						background-color: $headerBtnBg;
						color: $headerBtnColor;
						border-radius: 5px;
						transition: .3s;

						&:hover,
						:focus {
							outline: none;
							box-shadow: 0 0px 8px 2px $headerShadowFocus;
						}
					}
				}
			}
		}
	}

	&-background {
		@include lg {
			display: none;
		}
	}
}

.nav-open {
	@media (max-width: 991.98px) {
		color: $headerTextColorOpenMenu;
	}

	.nav-menu {
		padding-left: 20px;

		transform: none;
		transition: 0.2s;

		@media (max-width: 991.98px) {
			margin-top: 70px;
		}

		&__wrap {
			text-align: left;

			li {
				@media (max-width: 991.98px) {

					font-size: 1.25rem;
				}
			}
		}

		.dropdown {
			&__activator {
				@media (max-width: 991.98px) {
					justify-content: flex-start;

					svg {
						width: 18px;

						path {
							stroke: $headerTextColorOpenMenu
						}
					}
				}
			}

			&__inner {
				@media (max-width: 991.98px) {
					background-color: $headerBackgroundColorOpenMenu;
				}

				li {
					@media (max-width: 991.98px) {
						font-weight: 400;
						font-size: 1rem;
						text-align: left;

					}
				}
			}
		}

		&__socials {
			text-align: left;

			@media (max-width: 991.98px) {
				a {
					margin-right: 30px;

					svg {
						width: 27px;
						height: 27px;

						path {
							fill: $headerTextColorOpenMenu
						}
					}
				}
			}

			.head-socials__menu {
				a {
					@media (max-width: 991.98px) {
						background-color: $headerBtnColor;
						color: $headerBtnBg;
					}

				}
			}
		}
	}

	.nav-background {
		z-index: 2;
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-color: $headerBackgroundColorOpenMenu;
	}

	.btn-menu {

		&-row {
			margin: 0 !important;

			@media (max-width: 991.98px) {
				background-color: $headerTextColorOpenMenu;
			}
		}

		&-row:nth-child(1) {
			transform: translateY(100%) rotate(-45deg);
		}

		&-row:nth-child(2) {
			opacity: 0;
			width: 0;
		}

		&-row:nth-child(3) {
			transform: translateY(-100%) rotate(45deg);
		}
	}

	.nav-mobile-logo {
		svg path:not(:last-of-type) {
			fill: $headerTextColorOpenMenu
		}
	}
}

.btn-menu {
	width: 50px;
	height: 50px;
	z-index: 10;
	position: absolute;
	right: 10px;
	top: 10px;
	padding: 10px;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	border: none;
	background-color: transparent;

	@include lg {
		display: none;
	}

	&-row {
		transition: 0.2s;
		background-color: $headerLinkDecarationColor;
		height: 3px;
		width: 100%;
	}

	&-row+&-row {
		margin-top: 7px;
	}
}

.nav-mobile-logo {
	position: absolute;
	height: 50px;
	top: 10px;
	left: 20px;
	z-index: 10;

	@include lg {
		display: none;
	}

	svg path {
		transition: fill .3s;
	}
}