
.popup2{
.modal-content{

    .button{
        margin-top: 30px;
        font-size: 18px;
    }
    p{
        margin-top: 10px;
        line-height: 1.5;
        font-size: 16px;
    }
    input{
        border:solid 1px green;
        padding: 15px 10px;
        font-size: 16px;
        min-height: 30px;
        margin-top: 20px;
        width: 100%;
    }
}
@media (min-width:650px){
    .modal-content{
        padding:45px;
        p{
            font-size: 22px;
        }
    }

}

}