.swiper-categories {
  margin-right: -20px;
  @include sm {
    margin-right: 0;
  }

  .swiper-wrapper {
    @include xl {
      transform: none !important;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-left: -25px;
      margin-right: -25px;
      min-width: 100%;
      width: auto;
      .swiper-slide {
        flex-grow: 1;
        width: 18%;
        padding: 5px 25px;
        margin: 5px 0 !important;
      }
    }
  }
}

.swiper-accessories.swiper-container{
  @include lg{
    overflow: visible;
    margin: 0;
  }
}


.swiper-accessories {
  margin: 0 -20px;
  .swiper-wrapper {
    @include xl{
      flex-wrap: wrap;
      justify-content: center;
      transform: none !important;
      display: flex;
      min-width: 100%;
      width: auto;
      .swiper-slide {
        padding: 5px 25px;
        margin: 5px 0 !important;
        flex-grow: 1;
      width: 18%;
      }
    }
  }
}