.wholesale {

  &__wrapper {
    max-width: 1380px;
    width: 100%;
    background-color: $backgroundWholesale;
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  &__bg-image {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
  }

  &__images-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    img{
      height: auto;
    }

    @include lg {
      flex-direction: row;
    }
  }

  &__left-container {
    width: 400px;
    display: flex;
    align-items: flex-start;
    position: relative;
    padding-bottom: 400px;

    @include lg {
      padding: 0;
      align-items: flex-end;
      width: 385px;
      height: 540px;
    }
  }

  &__img-left {
    position: absolute;
    width: 100%;

    @include lg {
      top: 90px;
    }
  }

  &__oval-top {
    position: absolute;
    left: 220px;
    top: 50px;
    @include lg {
      left: 112px;
      top: -25px;

    }
  }

  &__oval-centre {
    position: absolute;
    top: 225px;
    left: 255px;

    @include lg {
      top: 220px;
      left: 300px;
    }
  }

  &__oval-bottom {
    position: absolute;
    top: 280px;
    right: 110px;

    @include lg {
      bottom: 145px;
      right: 42px;
    }
  }

  &__img-right {
    display: flex;
    justify-content: center;
    @include lg {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
    }
  }

  &__oval-top-right {
    position: absolute;
    bottom: 220px;
    left: 310px;

    @include lg {
      left: 280px;
      top: 65px;
    }
  }


  &__oval-top-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  &__content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $wholesaleText;
    z-index: 2;
    position: relative;
    padding: 30px 0;
    margin: 0 auto;
    @include lg {
      max-width: 30%;
      padding-bottom: 90px;
      padding-top: 100px;
      align-self: center;
    }
  }

  &__title {
    margin: 0;
    text-align: center;
    width: 100%;
    font-size: 36px;
    line-height: 100%;

    @include md {
      padding: 0 15px;
      font-size: 72px;
      min-width: 700px;
    }

  }

  &__text {
    margin: 0;
    padding: 20px 15px;
    width: 100%;
    max-width: 340px;
    font-weight: normal;
    font-size: 18px;
    line-height: 120%;
    text-align: center;

    @include md {
      padding-bottom: 60px;
      max-width: 425px;
      font-size: 18px;
    }
  }

  &__right-container {
    width: 365px;
    position: relative;
    align-self: flex-end;
    margin-bottom: 70px;

    @include lg {
      width: 330px;
      height: 300px;
    }
  }

  &__button {
    color: $wholesaleBtnText;
    font-weight: bold;
    font-size: 25px;
    line-height: 100%;
    background-color: $wholesaleBtnBg;
    border: none;
    border-radius: 5px;
    transition: all .5s ease;
    padding: 20px 30px;

    &:hover {
      box-shadow: $wholesaleShadowFocus;
    }

    @include lg {
      padding: 20px 30px;
    }
  }
}
